<h1>Your Tasks</h1>

<% @tasks.each do |task| %>
  <%= task.title %>
  <%= task.status %>
<% end %>

<%= link_to 'New Task', new_task_path %>
<%= link_to  'Sign out', destroy_user_session_path, method: :delete%>